<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Basics</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <section id="app" class="section container">
        {{ avatar }}

        <img v-bind:src="avatar" alt="" height="300" width="300">

        <img :src="avatar" alt="" height="300" width="300">

        <div class="notification is-success" v-if="isSuccess">
            we did it! successful! 
        </div>

        <div class="notification is-danger" v-if="!isSuccess">
            we did not do it. not successful
        </div>
    </section>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                avatar: 'https://img.gta5-mods.com/q85-w800/images/gta-v-loading-screen-girl/349d8c-newloadingscreen.png',
                isSuccess: true
            }
        });
    </script>
</body>

</html>